* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 100vw;
}

/* ----------------------- NAVBAR ----------------------- */
.navbar {
  background-color: rgb(184, 134, 11); /* Dark Goldenrod */
}

.home {
  font-size: 3.5vh;
}

/* ------------------------------------ FAQ SECTION ------------------------------------- */

.card {
  width: 100%;
  padding: 0 1rem; /* Add padding to avoid overlap on smaller screens */
  border: none;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0; /* Ensure no top margin */
  padding: 0.5rem 0; /* Add some padding for spacing */
}

.hero img {
  max-width: 85vw;
  max-width: 100%; /* Ensure the image scales properly */
  height: auto;
}

.accordion-container {
  width: 100%;
  margin: 0;
  padding: 1rem; /* Add padding to avoid overlap on smaller screens */
}

.accordion-button {
  cursor: pointer;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(184, 134, 11); /* Dark Goldenrod */;
  outline: none;
  text-align: left;
  padding: 1rem;
  background-color: #fff;
}

.accordion-button:hover {
  font-weight: bold;
}

.accordion-button:after {
  content: "➤";
  float: right;
  font-weight: bold;
  transform: rotate(90deg);
  color: rgb(184, 134, 11); /* Dark Goldenrod */
}

.accordion-content {
  padding: 0 2vh;
  display: none;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid rgb(184, 134, 11); /* Dark Goldenrod */;
}

.accordion-content.show {
  display: block;
  font-weight: bold;
}

.accordion-button:focus {
  border: none;
  outline: none;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(184, 134, 11); /* Dark Goldenrod */;;
}







