/* Main Page Styling */
body {
  background-color: #66d8ff;
}

    /* NavBar Styling */
    nav {
      display: flex;
      justify-content: space-between; /* Distribute space between children */
      align-items: center;
      padding: .5% 1%;
      background-color: #336C7F;
    }

    .nav {
      display: flex;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .title {
      font-family: "Spicy Rice", cursive;
      color: #fff;
      font-size: 200%;
    }

    .nav-item {
      margin-left: auto; /* Pushes the nav-item to the right */
    }

    .nav-link {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
    }

    .heart {
      color: red;
    }

    .hero-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 10%;
    }

    .leave-plus-form {
      padding: 10%;
    }

    .footer {
      position: fixed;
      bottom: 0;
    }