* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
  scroll-behavior: smooth;
}
.img-responsive {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the aspect ratio is maintained and the image covers the specified area */
}
/*NAVBAR*/
.navbar {
  background-color: rgb(184, 134, 11); /* Dark Goldenrod */

}
.home {
  font-size: 3.5vh;
}

/* TITLE SECTION */
.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Full viewport height to center the title vertically */
  background-color: rgb(30, 6, 56);
  color: #fff;
}
.title {
  font-size: 4vh; /* Responsive font size */
}
.title-section .subtitle {
  font-size: 3vh;
}
.heart {
  color: red;
}
.subtitle, .cta-button, .second-subtitle {
  margin-top: 1rem; /* Add some space between elements */
}
/* INFORMATION SECTION */

.info-section {
  min-height:100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;

}